<div class="text-center">
	<h1>My Account Setting</h1>
</div>

<div class="row">
	<div class="offset-sm-3 col-sm-6">
		
  <%= link_to 'Change Password', edit_password_path, class: 'offset-sm-8 col-sm-4 btn btn-sm btn-success mt-4' %>
	
	<%= render 'form' %>
		
	</div>
</div>
